
<!DOCTYPE html>
<html>
<head>
<title>Events Placement</title>
<meta charset="utf-8">

{% include 'snippets/css.html' %}
</head>
<body>

{% include 'snippets/nav.html' %}

<div id="container">
    {% block content %}
    {% endblock %}
</div>

{% include 'snippets/js.html' %}
<script>
    var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val()
            });
        });
    })
</script>

</body>

</html>
